<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
   <title>CORE</title>
</head>

<body>
  <header>
    <h1> COmputación en REd - CORE</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/Posts">Posts</a>
      <a href="/posts/search">Search posts</a>
    </nav>
  </header>
       
  <section>
   <hr />
   <%- body %>
   <hr />
  </section>

  <footer>
    <p> Universidad Politécnica de Madrid. Curso 2012-2013. </p>
    <% var date = new Date() %>
      <% var fecha = date.toString() %>
      <% fecha = fecha.substring(0,15) %>
      <%= fecha %>
  </footer>

</body>
</html>
